/* Reset CSS */
/* Universal selector (*) targets every element (regardless of tag, Id, class) */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    /* to absorb the padding/border of contents */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
    /* reset clicked link color to default browser's*/
}
/* set default fontsize for h1~h6 once */
h1 {font-size: xx-large; font-weight: bold;}
h2 {font-size: x-large; font-weight: bold;}
h3 {font-size: large; font-weight: medium;}
h4 {font-size: medium; font-weight: light;}
p {font-size: medium; font-weight: light;}

/* The body is broadly divided to 6 rows of 2 columns */
/* the effects need to be canceled out in section where the placement and ratio is different */
.container {
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    /* start to center to end; 60% for left column and 40% right column */
    grid-template-rows: repeat(6, min-content);
}

/** Start of Desktop Section **/
/* Set up the navbar for the desktop -----------------------------------------------*/
/* IMPORTANT: navbar uses 1fr of the screen */
nav {
    display: flex;
    grid-column: full-start / full-end;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 4rem;   /* Requirements=64px -- 64px/16px = 4rem */
}

/* Set up logo styles */
.logo {
    height: 2rem;   /* Req.=32px -- 32px/16px = 2rem */
    margin-left: 1.5rem;    /* Req.=24px -- 24px/16px = 1.5rem */
}

.logoname {
    text-transform: uppercase;
    line-height: 2rem;  /* Req.=32px -- 32px/16px=2rem */
}

.logoname-bold {
    font-weight: bold;
    color: #484848;
}

.logoname-light {
    font-weight: light;
    color: #AAA;
}

/* Set up navigation links' styles */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding-right: 1rem;    /* Req.=16px space between items */
    padding-top: 1.5rem;
}

nav ul li:last-child {
    padding-right: 1.5rem;  /* Req.=24px space from last list item to the right */
}

nav>a {
    display: flex;
    align-items: center;    /* align Title to the center of the logo */
}

/* Set up header area */
header {
    display: flex;
    align-items: center;    /* cross axis (vertical) alignment */
    background-color: #D8D8D8;
}

.imagecontainer {
    padding: 2rem 1.5rem 2rem 1.5rem;   /* Req.= (t/r/b/l) 32px/24px/32px/24px */
}

header>img {
    max-width: 100%;    /* to occupy the whole available space */
    height: auto;       /* auto adjust according to width */
}

header>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 18rem;
    padding-right: 1.5rem; /* Req.=24px */
}

/* Start here button */
header>div>a {
    background-color: #484848;
    display: block;
    width: 100%;
    padding: 0.5rem 0;  /* Req.= (t/b) 8px */
    text-align: center;
    color: #FFFFFF;
}

/* hover effect for call to action link */
header>div>a:hover {
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(72, 72, 72, 0.5);
}

/* Set up practice section -----------------------------------------------*/
.practice {
    display: flex;
    flex-direction: column;
    align-items: left;  /* push content to the left */
}

.practice>.imagecontainer>img {
    max-width: 100%;
    padding-bottom: 0; /* Req.=32px from image to bottom border */
}

.practice>.practice-text {
    padding-left: 1.5rem;   /* Req.=32px to left border */
}

.practice>.practice-text>h2 {
    margin-bottom: 1.5rem;    /* Req.=24px to text paragraph */
}

.practice>.practice-text>p>span {
    display: block;
    font-weight: medium;
    padding: 2rem 0;        /* Req.=32px */
}

/* Set up events section -----------------------------------------------*/
.events {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #E7E7E7;     /* Req.=16px from left border to image */
}

.events .event-block {
    display: grid;
    grid-template-columns: 0.35fr 0.65fr; /* Req.= ratio: image 35% - text 65% */
    border-top: 1px solid #E7E7E7;  /* Req.=16px from top border to image */
    align-items: center;
}

.events .event-block:last-child {
    background-color: #D8D8D8;
}

.events>.event-block>img {
    max-width: 100%;
    height: auto;
    margin: 1rem 1rem;   /* Req.=16px from top/left border to image */
}


.events>.event-block:first-child>img {
    margin-top: 2rem;
}

.events>.event-block>.event-text {
    margin: 0 1rem 0 2rem;
}

.events>.event-block>.event-text>a {
    color: #3434c6;
}

.events>.event-block>.event-text>p {
    margin: 0.5rem 0;   /* Req.=8px top/left before/after this paragraph */
}

/* Start of Learning section ----------------------------------------------*/
.learning {
    display: block;
    grid-column: full-start / full-end;
    /* this to set the grids/columns to use the whole width */
    width: 100%;
    background-color: #D8D8D8;
}

.learning-title>h2 {
    padding-top: 2rem;  /* Req.= 32px top */
    text-align: center;
}

.course-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* fit as many columns as possible in to the grid, do not shrink < 200px  */
    grid-template-rows: 1fr 1fr;
    /* set 2 rows of equal height */
    gap: 2rem 2rem; /* Req.= 32px top/bottom gap between courses */
    padding: 2rem 6rem; /* Req.= 32px/72px/32px/72px */
}

.course-card {
    background-color: white;
}

.course-card img {
    width: 100%;
    padding: 0 0;
}

.course-text {
    margin: 0 1rem;  /* Req.=16px from left border*/
    text-align: left;
}

.course-text>h3 {
  /*  */  font-weight: bold;
    margin-top: 1rem;   /* Req.=16px from image*/
}

.course-text>h4 {
  /*  */  font-weight: lighter;
    margin: 0.5rem 0;   /* Req.=8px top/bottom from other text */
}

.course-text p {
   /*  */ font-weight: lighter;
    margin-bottom: 1.5rem;  /* Req.=24px from bottom border */
}
/* End of Learning section  ---------------------------------------------------*/

/* Start of Thesis exhibit section  --------- ---------------------------------*/
.thesis-exhibit {
    grid-column: full-start / full-end;
    /* this to set the grids/columns to use the whole width */
}

.thesis-exhibit>h2 {
    text-align: center;
    margin: 2rem 0; /* Req.= 32px from top border and bottom (exhibits) */
}

.exhibits {
    display: grid;
    grid-template-columns: 60% 40%; /* Req.= left 60% - 40% right*/
    /* setup 2 columns: left-exhibit and right-exhibit */
    column-gap: 1.5rem; /* Req.= horizontal gap : 24px */
    align-items: start;
    margin: 0 1.5rem; /* Req.= 24px from the left border*/
}

.left-exhibit>video {
    width: 100%;
    height: auto;
}

.left-exhibit>h3 {
    text-align: left;
    padding: 1.5rem 0 0.5rem 0;/* Req.=(t/b) 24px/8px */
}

.left-exhibit>p {
    text-align: left;
    padding-bottom: 2rem;    /* Req:32px from footer */
}

.right-exhibit {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* set 2 rows of equal height */
    row-gap: 0.5rem;
    padding-right: 1rem;
}

.right-exhibit>.exhibit-card {
    display: grid;
    grid-template-columns: 35fr 65fr;
    /* set 2 column for each exhibit card: image 35fr - 65fr text */
    /* use fr instead of % to account for included paddings */
    gap: 1rem;      /* req.=16px between image and text */
    align-items: center;
}

.right-exhibit>.exhibit-card:first-child {
    background-color: #D8D8D8;  /* background color of the 1st right-exhibit */
}

.right-exhibit>.exhibit-card>img {
    max-width: 100%;
    height: auto;
    padding: 1rem; /* Req.=16px */
}

.right-exhibit>.exhibit-card>.exhibit-text {
    padding: 0 1rem;
    max-width: fit-content;
}
/* End of Thesis exhibit section  --------- --------------------------------*/

/* Start of footer section  ------------------------------------------------*/
footer {
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E7E7E7;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;     /* Req.=16px from top */
    color: #8D8D8D;
}

footer>p {
    margin-left: 1.5rem;    /* Req.=24px from left border */
}

footer>ul {
    display: flex;
    list-style: none;
}

footer>ul>li {
    margin-right: 1rem;
}

footer>ul>li:last-child {
    margin-right: 1.5rem;
}

/* Hide events mobile */
.events>.event-block>.event-image-mobile {
    display: block;
}

#nav-mobile,
.events>.event-block>.event-image-mobile {
    display: none;
}

/** End of Desktop Section **/

/* =============================================================================================================== */
/* =============================================================================================================== */
/** Start of Mobile Section **/

/* if the width of screen is <= 640px (40rem x 16px) */
@media screen and (max-width: 40rem) {

    nav,
    .practice {
        display: none;
    }

    #nav-mobile {
        display: flex;
        align-items: center;
        height: 4rem;   /* Req.=64px height */
        grid-column: full-start / full-end;
        /* columns to occupy whole row area */
        justify-content: space-around; /* equal gaps in between columns */
    }

    header {
        display: grid;
        grid-column: full-start / full-end;
        /* columns to occupy whole row area */
    }

    .imagecontainer {
        padding: 0; /* no gap around image */
    }
    /* Set up header section -----------------------------------------------*/
    header>div {
        display: block;
        width: auto;
        height: auto;
        padding: 2rem 1rem; /* Req.=32px for top/bottom, 16px from left border */
    }

    header>div>h1 {
        padding-bottom: 2rem;  /* Req.=32px to next text (h3) */
    }

    header>div>h3 {
        padding-bottom: 1.5rem; /* Req.=24px to call to action button */
    }

    header>div>a {
        opacity: 0.5;   /* 50% opacity upon mouse hover */
    }
    /* Set up event section -----------------------------------------------*/
    .events {
        display: grid;
        grid-column: full-start / full-end;
        /* columns to occupy whole row area */
    }

    .events>.event-block {
        display: flex;
        flex-direction: column;
        /* items in event-block (image and text) to flex to single column when collapsing */
        padding: 1rem 1rem 2rem 1rem;   /* Req.=(t/r/b/l) 16px/16px/32px/16px */
    }

    .events>.event-block:first-child>img {
        margin-top: 0;  /* no margin to the top border is required. */
    }

    .events>.event-block>.event-text {
        width: 100%;
        height: auto;
        padding-left: 1rem; /* Req.=16px, indent text 16px */
    }

    .events>.event-block>img {
        display: none;  /* hide desktop-view images for events */
    }

    .events>.event-block>.event-image-mobile {
        display: block; /* display mobile-view images for events */
    }

    .events {
        border-left: none;  /* hide event border line */
    }

    .events>.event-block:last-child {
        background-color: #FFFFFF;  /* set background color of last even to full white */
        border-bottom: 1px solid #E7E7E7;   /* display thin line for bottom border */
    }
    /* Set up learning section -----------------------------------------------*/
    /* ---------------------------------------------------------------------------- */
    /* The following spacing properties have been previously set in Desktop view: */
    /* For easier editing and troubleshooting the following section is added */
    /* to cancel/reset the spacing that were previously done in Desktop-view */
    .learning-title>h2 {
        padding: 0 0
    }

    .course-group {
        gap: 0 0;
        padding: 0 0
    }

    .course-text, .course-text>h3 {
        margin: 0 0;
    }

    .learning {
        background-color: #FFFFFF;
        padding: 2rem 1rem;
        border: 1px solid #E7E7E7; /* thin line for borders */
    }

    .learning>.learning-title>h2 {
        padding-bottom:  1rem; /* Req.= 16px from bottom */
        text-align: center;
    }

    .course-group {
        display: grid;
        grid-template-columns: 1fr; 
        /* grid stays as single column when stretched */
        grid-template-rows: auto;
        background-color: #FFFFFF;
        margin: 1rem 2rem 0 0; 
        gap: 0.5rem;    /* Req:8px vertical spacing */
    }

    /* hide course images and text */
    .course-group img,
    .course-group h4,
    .course-group p {
        display: none;
    }

    .course-text>h3 {
        display: flex;
        /* display course names only */
        font-size:larger;
        width: auto;
        padding: 1rem 0 1rem 1rem;  /* Req.= padding around text 16px/na/24px/16px */
        text-align: left;
        background-color: #D8D8D8;
    }
    /* Set up exhibit section -----------------------------------------------*/
    .left-exhibit>h3,
    .left-exhibit>p,
    .right-exhibit {
        display: none;
    }

    .exhibits {
        grid-template-columns: 1fr;
        margin: 0;
        padding-bottom: 1.5rem;
    }

    .left-exhibit video {
        display: block;
        width: 100%;
        height: auto;
    }
    
    /* Set up footer section -----------------------------------------------*/
    footer {
        border-top: none;
        padding: 1rem 0;
    }

      footer>ul {
        display: none;  /* hide footer list (Terms, Privacy) */
    }
    
}

/* *********************** */
/** End of Mobile Section **/